﻿body {
    font-family: "RalewayThin";
    overflow: hidden;
    font-weight: light;
    padding-top: 50px;
}

.ball
{
    border: solid 30px red;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #666;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
    z-index: 9999;
}
.info{
	position: absolute;
	left: 5px;
	right: 5px;
	background: rgba(0, 0, 0, 0.8);
	border: solid 1px black;
	border-radius: 5px;
	padding: 5px;
	color: #aaa;
	font-size: 8pt;
	width: 0;
	height: 0;
	opacity: 0;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	overflow: hidden;
}
.info *{
	margin: 0 !important;
	padding: 0 !important;
}
.ball:hover .info{
	width: 200px;
	height: auto;
	opacity: 1;
}

.settings{
	display: block;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	padding-bottom: 50px;
	background: rgba(100, 100, 100, 0.7);
	position: fixed;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
        z-index: 1000;
}
.settings-menu{
	height: 0;
	opacity: 0;
	overflow: hidden;
	-moz-transition: all .5s ease-in-out;
	text-align: right;
	-webkit-transition: all .5s ease-in-out;
}
.settings:hover{
	background: rgba(0, 0, 0, 0.2);
}
.settings button{
	display: inline-block;
	border: solid 1px #aaa;
	background: -moz-linear-gradient(-90deg, #fff, #ddd);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
	padding: 5px 10px;
	margin: 10px 5px;
	box-shadow: 0 0 5px #999;
}
.settings button:hover{
	box-shadow: 0 0 10px #666;
	background: -moz-linear-gradient(-90deg, #fff, #ccc);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ccc));
}

.settings:hover .settings-menu{
	height: auto;
	opacity: 1;
}
.c{
	display: inline-block;
	width: 500px;
	position: absolute;
	z-index: 1;
	top: 200px;
	left: 600px;
	background: rgba(0, 0, 0, 0.1);
	border: solid 1px #aaa;
	border-radius: 5px;
	border-top-left-radius: 0;
	opacity: 0.3;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}
.help{
	left: 50px;
}
.c:hover{
	opacity: 1;
}
.help ul#lang-list{
	display: inline;
	position: absolute;
	border-right: solid 25px transparent;
	border-bottom: solid 25px #aaa;
	margin: 0;
	padding: 0;
	height: 0;
	top: -25px;
	left: -1px;
}
.help #lang-list li{
	margin: 0;
	padding: 5px 0 5px 5px;
	display: inline;
	line-height: 25px;
	margin-bottom: -50px;
	color: #fff;
	font-family: "Segoe UI", "Helvetica", "Arial", sans-serif
}
.c #cont{
	font-family: "QuicksandLight";
	padding: 15px;
}

@media screen and (-ms-view-state: full-screen)


@media screen and (-ms-view-state: fill)
{

}

@media screen and (-ms-view-state: snapped)
{

}
		
@media screen and (-ms-view-state: device-portrait)
{

}
