body{
	margin:  0;
	padding:  0;
	font-family: "Roboto", "Deja-Vu Sans", "Droid Sans", "Helvetica", "Segoe Ui", "Arial";
}
body *{

	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out
}
.itooltip, .icredits{
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: auto;
	right: auto;
	background:  rgba(0, 0, 0, 0.8);
	color: white;
	z-index: 10
}
.GUI-active .itooltip, .GUI-active .icredits{
	opacity: 0;
	width: 0;
	height: 0;
	overflow: hidden
}
.itooltip{
	left: 0;
	font-size: 14pt;
	padding:  15px 15px 10px ;
}
.icredits{
	right: 0;
	font-size: 10pt;
	padding:  10px 10px 5px;
}
header, footer{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 0px;
	z-index: 9;
	margin:  0; 
	color: white;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.33, #292929), color-stop(0.66, #222), color-stop(1, #191919)); 
	background:  -moz-linear-gradient(-90deg, #222, #292929, #222, #191919);
	box-shadow: 0 0 10px black;
	font-size: 15pt;
	padding: 15px 15px 15px 65px;
	text-shadow: 0 1px 1px black;
	overflow:  hidden;
}
header.active{
	height: 20px;
	overflow:  visible;
}
header aside{
	font-size: 10pt;
	padding:  0 0 0 20px;
	color: #aaa;
	display: inline;
	border: none;
	margin:  0;
	opacity: 0;
}
header aside.active{
	opacity: 1;
}
footer{
	top: auto;
	bottom: 0;
	padding:  3px 3px 3px 7px;
	font-size: 10pt;
	background:  -moz-linear-gradient(-90deg, #191919, #222222);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #191919), color-stop(1, #222));
}
footer.active{
	height: 15px;
	overflow: visible;
}
footer input{
	display: block;
	position: absolute;
	left: 35px;
	top: 2px;
	bottom: -2px;
	background: transparent;
	border: none;
	color: #aaa;
	font-family: "Pragmata", "Inconsolata", "Andale Mono", "Monaco", monospace;
}
footer span{
	position: absolute;
	margin:  4px 10px 0 0;
	padding: 0;
	font-size: 0;
	width: 0;
	right: 5px;
	top: 2px;
	border:  solid 8px transparent;
	border-bottom-color: rgba(100, 100, 100, 0.4);
	border-top: none;
}
footer span.down{
	border-bottom-color: transparent;
	border-top:  solid 8px rgba(100, 100, 100, 0.4);
	border-bottom:  none;
}
footer aside{
	display: inline-block;
	position: absolute;
	bottom: 100%;
	left: 35px;
	right: 15px;
	padding: 15px 15px 10px;
	background: rgba(100, 100, 100, 0.1);
	border: solid 1px rgba(100, 100, 100, 0.2);
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 0;
	opacity: 0;
	overflow:  hidden;
	font-family: "Pragmata", "Inconsolata", "Andale Mono", "Monaco", monospace;
}
footer aside.active{
	overflow:  auto;
	height: auto;
	opacity: 1;
	max-height: 150px;
}
footer p{
	margin:  0;
	padding:  0;
}
.switch{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	height: 0;
    border: none;
	border-top:  solid 30px rgba(0, 0, 0, 0.4);
	border-right: solid 30px transparent;
	-moz-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	font-size: 0pt;
	margin:  0;
	padding: 0
}
.switch span{
	font-size: 11pt;
	color: white;
	line-height: 30px;
	padding: 0 10px;
	display: block;
    margin: -30px 0 0 0;
}
.GUI-active .switch{
    border :solid 25px rgba(0, 0, 0, 0.8) !important;
	box-shadow: 0 0 15px black;
}
.switch:hover{
	border-top-color: rgba(0, 0, 0, 0.8);
	border-left-color: rgba(0, 0, 0, 0.8);
}
section{
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	bottom: 0px;
	background:  rgba(0, 0, 0, 0.9);
	z-index: 5;
	opacity: 0;
}
section.active{
	top: 50px;
	opacity: 1;
	bottom: 10px;
}
section ul{
	display: block;
	clear: both;
	float: left;
	padding: 10px 0;
	margin:  0;
	background: rgba(0, 0, 0, 0.5)
}
section ul ul{
	background:  transparent;
	padding: 10px 0 10px 0;
	width: 100%;
}
section ul li{
	display: block;
	color: white;
	font-size: 12pt;
	list-style: none
}
section ul li a{
	display: block;
	cursor: pointer;
	padding: 3px 35px 2px 15px;
}
section ul ul li a{
	padding-left: 35px;
	padding-right: 35px
}
section ul ul li a:hover{
	background:  rgba(100, 100, 100, 0.8);
	padding-left: 55px;
	padding-right: 15px;
}
.red.dark{
	color: #aa0000;
}
.red{
	color: #cc0000
}
.white{
	color: #ffffff;
}
.white.dark{
	color: #aaaaaa;
}
